.wrapper
  .container
    .profile
      .meta
        img(class="avatar", src="https://en.gravatar.com/userimage/9711931/afe2e387a83545dcc17acc11986759d4.jpg")
        h2 Dave Haertel
        .position Web Designer
        .social
          a(href="https://www.facebook.com/dave.haertel")
            i.fa.fa-facebook-square
          a(href="https://bitbucket.org/portcitytechnology")
            i.fa.fa-git
          a(href="mailto:dave@portcitytechnology.com")
            i.fa.fa-envelope
          a(href="https://twitter.com/portcitytech")
            i.fa.fa-twitter
      .overlay
    .portfolio
      h1 This is me. Dave Haertel
      p Let me give you the run down.
      p I'm a self-taught web designer and have been absorbing as much HTML/CSS as I can for the last 5 years and so far things have turned out alright.  I'm enjoying the freedom this has given me and hope that it continues in this way.  If you have a project that you would like me to take a look at or get involved with, drop me a line at <a href="mailto:dave@portcitytechnology.com">dave@portcitytechnology.com</a>
  .footer.text-center Made with
    i.fa.fa-fw.fa-heart
    a(href="http://portcitytechnology.com").newlink Port City Technology